.details-page {
  margin: 0;
  background-color: #ffffff;
}

.image-block {
  border-radius: 16px 16px 0 0;
}

.arrow-left {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: white;
  margin-top: 42px;
  margin-bottom: 70px;
  margin-left: 15px;
}

.border-white {
  border-radius: 36px 36px 0 0;
  background-color: white;
  padding: 33px 27px 46px 30px;
  height: 297px;
}

.btn-bottom {
  border-radius: 16px 16px 0 0 !important;
  text-align: center;
  width: 375px;
  height: 64px;
  margin-left: 0;
  margin-right: 0;
}

.item-title {
  width: 147px;
  height: 27px;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3d3d;
  margin-bottom: 7px;
}

.item-price {
  width: 44px;
  height: 27px;
  opacity: 0.46;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #01205c;
  margin-bottom: 7px;
}

.item-description {
  width: 315px;
  height: 73px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #646363;
  margin-top: 23px;
  margin-bottom: 0;
}

.item-type {
  width: 46px;
  height: 17px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9e9e9e;
}

.cart-qty {
  margin-top: 43px;
}

.remove-btn,
.add-btn {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background-color: rgba(23, 42, 232, 0.1);
}

.remove-btn p,
.add-btn p {
  width: 12px;
  height: 12px;
  color: #879adb;
  font-weight: bold;
  text-align: center;
}

.qty {
  margin: 0 17px;
  width: 10px;
  height: 24px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3d3d;
}

.btn-cart {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.44px;
  color: #748ad5;
  cursor: pointer;
}

.activeColor {
  border: solid 4px #acb8d6;
}

.deActiveColor {
  border: none;
}

.img-item {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .item-title,
  .item-type,
  .item-description {
    width: 100%;
  }
}
