li {
  list-style-type: none;
  margin-top: 39px;
  margin-right: 37px;
}

li p {
  margin-bottom: 0;
  width: 42px;
  height: 18px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bbbbbb;
}

.dot {
  text-align: center;
  line-height: 0.1;
  font-size: xx-large;
  border-radius: 50%;
  font-weight: bold;
}

.active {
  font-weight: bold;
  width: 47px;
  height: 18px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d3c3c;
}

.deactive {
  font-weight: normal;
}

.topNav {
  margin-left: 30px;
  margin-bottom: 0;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
  .topNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
}
