.item-bloc {
  width: 144px;
  height: 236px;
  border-radius: 16px;
  padding-left: 24px;
  padding-right: 21px;
  padding-top: 38px;
  margin-top: 23px;
  margin-top: 31px;
}

.item-bloc h4 {
  text-decoration: none;
  width: 56px;
  height: 18px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3d3d;
}
.item-bloc h5 {
  text-decoration: none;
  width: 35px;
  height: 22px;
  opacity: 0.46;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.item-bloc a {
  text-decoration: none;
}

.text-details h5 {
  margin-bottom: 17px;
}
