/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
