.index-content h1 {
  width: 214px;
  height: 62px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #3d3c3c;
  margin-top: 42px;
  margin-left: 30px;
  margin-bottom: 0;
}

.row-box {
  margin-bottom: 112px;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
  .index-content {
    display: flex;
    justify-content: center;
  }
  .index-content h1 {
    width: 100%;
    font-size: xx-large;
    text-align: center;
  }
  .item-element {
    display: block;
    margin: auto;
  }
  .row-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
